.tabela2 {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: 45px auto;
    width: 10%;
    height: auto;
    background: white;
    border-collapse: collapse;
}

.tabela2 > thead > tr > th > .stack2 {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 30px;
}

.tabela2 > thead > tr > th > .stack2 > .tituloTabela2 {
    padding-left: 90px;
    padding-top: 10px;
}

.tabela2 > thead > tr > th > .stack2 > .botao2 {
    height: 40px;
    width: 150px;
    border-radius: 8px;
    background: #0F9AFE;
    border: 0px;
    color: white;
    margin-right: 45px;
    margin-top: 10px;
}

.tabela2 > thead > tr > .coluna2 {
    /* font-size: 24px; */
    /* line-height: 34px; */
    font-style: normal;
    color: #252525;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}