.caixaTabela{

    overflow: auto;
    box-shadow: none;
    background-color: red;
    width: 50%; 
    margin: 0 auto;
}

.caixaTabela > .stack {
    display: flex;
    align-items: center;
    margin: 10px 0 0 auto;
    width: 100%;
    justify-content: space-between; 
    padding-bottom: 20px;
}

/* .tituloTabela {
    padding-left: 70px;
    padding-top: 10px;
} */

.botao {
    height: 40px;
    width: 150px;
    border-radius: 8px;
    background: #0F9AFE;
    border: 0px;
    color: white;
    margin-right: 60px;
    margin-top: 10px;
}

/* .tabela {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 50%;
    background: white;
    border-collapse: collapse;
    margin: 50px auto 0 auto;
} */

.coluna {
    /* font-size: 18px; */
    color: #9e9e9e;
    border-bottom: 1px solid #ddd;
    padding-left: 20px;
    padding-bottom: 15px;
    /* box-shadow: 0px 1px 0px 2px rgba(0, 0, 0, 0.15); */
}








/* .caixaTabela > .tabela {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 50%;
    background: white;
    border-collapse: collapse;
    margin: 50px auto 0 auto;
}

/* .tabela > thead > tr > th > .stack {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 30px;
} */

/* .tabela > thead > tr > th > .stack > .tituloTabela {
    padding-left: 70px;
    padding-top: 10px;
} */

/* .tabela > thead > tr > th > .stack > .botao {
    height: 40px;
    width: 150px;
    border-radius: 8px;
    background: #0F9AFE;
    border: 0px;
    color: white;
    margin-right: 45px;
    margin-top: 10px;
} */

/*.tabela > thead > tr > .coluna {
    font-size: 18px;
    color: #959595;
    border-bottom: 1px solid #ddd;
    padding-left: 20px;
    padding-bottom: 15px;
    /* box-shadow: 0px 1px 0px 2px rgba(0, 0, 0, 0.15); 
}*/